<%- include('partials/header') -%>
<%- include("partials/navbar") -%>


<div class="container text-center align-item-center">
  <div class="row">
      <div class="col">
          
          
          <div class="card col-10 col-md-6 mx-auto mt-2" >
              <!-- <img src="..." class="card-img-top rounded-circle" alt="profile picture"> -->
                <div class="card-body">
                  <h5 class="card-title">Welcome <%= user.userName %>!</h5>
                  
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Average: <strong><%= userStats.average.toFixed(2)%></strong></li>
                  <li class="list-group-item">Avg. Darts Per Leg: <strong><%= userStats.avgDartsPerLeg.toFixed(2)%></strong></li>
                  <li class="list-group-item">Doubles %: <strong><%= userStats.doublePercentage.toFixed(2)%></strong></li>
                  <li class="list-group-item">Total darts thrown: <strong><%= userStats.dartTotal%></strong></li>
                </ul>
               
              </div>
              <br>
              <a href="/game" class="col-3 btn btn-primary">New Game</a>
          
          
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>